<%- include("../partials/questions/head")%>
<body>
  <%- include("../partials/questions/header")%>
  <div class="main">
    <h2>Part 2</h2>
    <div class="content">
      <%- include('../partials/questions/7') %>
      <div class="box answer">
        <h3>Answer</h3>
        <!-- render answer here -->
        <p>links here...</p>
        <% for(let i=1;i<=10;i++) {%>
            <a href=<%= `question${i}` %>><%= "Q"+(i) %></a>
         <% } %> 
     
    </div>
  </div>
</body>

